@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #121212;
    --card: #FFFFFF;
    --card-foreground: #121212;
    --popover: #FFFFFF;
    --popover-foreground: #121212;
    --primary: #121212;
    --primary-foreground: #FFFFFF;
    --secondary: #7AA2F7;
    --secondary-foreground: #FFFFFF;
    --muted: #F4F4F5;
    --muted-foreground: #71717A;
    --accent: #7AA2F7;
    --accent-foreground: #FFFFFF;
    --success: #22C55E;
    --warning: #FBBF24;
    --destructive: #FF5555;
    --destructive-foreground: #FFFFFF;
    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #7AA2F7;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: #121212;
    --foreground: #FFFFFF;
    --card: #1E1E1E;
    --card-foreground: #FFFFFF;
    --popover: #1E1E1E;
    --popover-foreground: #FFFFFF;
    --primary: #FFFFFF;
    --primary-foreground: #121212;
    --secondary: #7AA2F7;
    --secondary-foreground: #FFFFFF;
    --muted: #2A2A2A;
    --muted-foreground: #A1A1AA;
    --accent: #7AA2F7;
    --accent-foreground: #FFFFFF;
    --success: #22C55E;
    --warning: #FBBF24;
    --destructive: #FF5555;
    --destructive-foreground: #FFFFFF;
    --border: #2A2A2A;
    --input: #2A2A2A;
    --ring: #7AA2F7;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}